body {
	font-family: 'Yantramanav', sans-serif;
}

h1 {
	font-size: 3.5rem;
	text-align: center;
	font-weight: 900;
}

.navbar {
	/*margin-top: 10px;*/
	background-color: #ff3e3e;
	letter-spacing: 2px;
	font-weight: 700;

	border-bottom: 20px solid white;
	overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.row {
	top: 60px;
	margin-bottom: 20px;
	position: relative;
	height: 100%;
	font-family: 'Yantramanav', sans-serif;
}

.gap {
	margin-bottom: 20%;
}

.main {
/*	background-color: steelblue;*/
	padding-top: 20px;
}

.jumbotron {
	background: none;
	/*height: 150vh;*/
	margin: 0;
	/*padding-bottom: 0;*/
}

.container {
	text-align: center;
}

.display-4 {
	font-family: 'Yantramanav', sans-serif;
	font-weight: 900;
	line-height: 0.5;
	transition: all 0.3s;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
}

.descrp {
	font-size: 21px;
	letter-spacing: 1px;
	font-weight: 300;
/*	background-image: url("mylogo.svg");
	height: 700px;
	background-repeat: no-repeat;
	background-size: auto;
	background-position: center top;
	transition: all 0.3s;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;*/
}

.avatar {
	background-image: url("mylogo.svg");
	background-size:100%;
	width: 90%;
	height: 900px;
	background-repeat: no-repeat;
	background-position: center top;
	transition: all 0.3s;
	-webkit-transition: all 0.6s;
	-moz-transition: all 0.6s;
}

#about-detail {
	padding-left: 10%;
	padding-right: 10%;
	font-size: 21px;
	letter-spacing: 1px;
	font-weight: 300;
}

.left-right-pad {
	padding-left: 10%;
	padding-right: 10%;
}


h3 {
	font-weight: 300;
}

.project {
	top: 30px;
	margin-bottom: 50px;
}

.detail {
	font-size: 21px;
	letter-spacing: 1px;
	font-weight: 300;
}

.proj1 {
	background-image: url("RGBgame-desktop.png");
	background-size: 100%;
	width: 100%;
	height: 450px;
	background-repeat: no-repeat;
}

.proj2 {
	background-image: url("music-editor.png");
	background-size: cover;
	width: 100%;
	height: 450px;
	background-repeat: no-repeat;
}

.proj3 {
	background-image: url("yanmar-2.png");
	background-size: cover;
	width: 100%;
	height: 450px;
	background-repeat: no-repeat;
}

.lead {
	font-size: inherit;
	width: 80%;
}

#stripe {
	float: left;
	width: 100%;
	height: 20px;
	color: black;
	text-transform: uppercase;
	font-size: inherit;
	letter-spacing: 1px;
	opacity: 0.3;
	 -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#stripe:hover {
	opacity: 0.5;
}


.playNow {
	font-size: inherit;
	padding: 6px 6px;
	background-color: #ff3e3e;
	border-color: #ff3e3e;
	outline: none;

}

.playNow:hover {
	background-color: #232323;
	border-color: #232323;
}

.standardBtn {
	border: none;
	outline: none;
	background-color: #6c757d;
}

@media only screen and (max-width: 600px) {
   .display-4 { 
      font-size: 50px;
   }
}

@media only screen and (max-width: 1200px) {
   .avatar { 
   	width: 90%;
    height: 700px;

   }
}

@media only screen and (max-width: 500px) {
   .lead { 
      font-size: 18px;
   }

   .detail {
   	font-size: 18px;
   }

   .gap {
	margin-bottom: 0%;
	}

   .avatar { 
   		width: 100%;
    	height: 400px;
   }

   .proj1 {
   	height: 300px;
   }
   
}


@media only screen and (max-width: 1000px) {
   .avatar { 
   		width: 100%;
    	height: 600px;
   }
}

@media only screen and (max-width: 750px) {
   .avatar { 
   		width: 100%;
    	height: 500px;
   }
}







/*.container .avatar {
	background-image: url("mylogo.svg");
	width: 80%;
	height: 700px;
	background-repeat: no-repeat;
	background-size: auto;
	margin: 0 auto;
}*/

/*#container {
	width: 100%;
	margin: 50px 20px;
	display: inline-block;
	float: left;
}

#stripe {
	float: left;
	width: 100%;
	height: 20px;
	color: black;
	text-transform: uppercase;
	font-size: inherit;
	letter-spacing: 1px;
	opacity: 0.3;
	 -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -ms-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

#stripe:hover {
	opacity: 0.5;
}

.pic-box {
	width: 40%;
	height: 450px;
	float: left;
	letter-spacing: 1px;
}

.space {
	letter-spacing: 2px;
	font-weight: bold;
}

#grey {
	color: black;
	opacity: 0.3;
}

.display-4 {
	font-family: 'Yantramanav', sans-serif;
	font-weight: 900;
	transition: font-size 0.3s ease-in-out;
	-webkit-transition: font-size 0.6s ease-in-out;
	-moz-transition: font-size 0.6s ease-in-out;
	line-height: 0.9;
}

.jumbotron {
	background: none;
	padding-left: 15px;
	padding-right: 15px;
}

.wrap {
	width: 500px;
	height: 250px;
	float: left;
	display: inline-block;
}

.lead {
	font-size: inherit;
	width: 80%;
}

.carousel-content {
	position: absolute;
	bottom: 8px;
    left: 16px;

}

.wrap {
	width: 300px;
	position: absolute;
	left: 100px;
	top: 10px;
    color: white;
}


@media only screen and (max-width: 1026px) {
    .display-4 {
        font-size: 2.5em;
    }

    body {
    	margin-left: 5%;
    	margin-right: 5%;
    }

}


.container {
	background-color: rgba(255, 255, 255, 0.3);


}*/
